:root {
  --background-color: lightblue;
}
body{
  background-color: var(--background-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, 
body {
text-align: center;
font-family: Arial, sans-serif;
}


.modal-img {
width: 150px;
height: 150px;
margin-left: 40px;
margin-top: -40px
} 

.list-group-item {
/* display: flex; */
justify-content: center;
align-items: center;
box-sizing: border-box;
width: (20px);
 text-transform: uppercase;
}

.pokemon-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
 
}

